.DS_Store
*.sublime-project
*.sublime-workspace
*.log
.serverless
v8-compile-cache-*
jest
coverage
.serverless_plugins
testProjects/*/package-lock.json
testProjects/*/yarn.lock
.serverlessUnzipped
node_modules
.vscode
.eslintcache
dist
.idea
build
lib
.env*
.env.test
!.env.example
env.js
yarn.lock

__tests__/apigw/special.test.ts
__tests__/scf/image.test.ts
__tests__/scf/special.test.ts
